<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="production-manager.ZPM">
    <Module>
      <Name>production-manager</Name>
      <Version>1.0.2</Version>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="RestProduction.PKG"/>
      <SystemRequirements Version=">=2020.1" Interoperability="enabled" />
       <CSPApplication 
        Url="/production"
        Recurse="1"
        MatchRoles=":{$dbrole}"
        PasswordAuthEnabled="1"
        UnauthenticatedEnabled="0"
        DispatchClass="RestProduction.REST"
        ServeFiles="1"
        CookiePath="/production"
        UseCookies="2"
       />
    </Module>
    
  </Document>
</Export>
